<h1>Hello World!</h1>

        <div>
            <h2><span class="title">Workshop</span> <span>To-do</span> <span class="title">List</span></h2>
            <button><a href="new">Add new To-do</a></button>
            <ul>
                <% @list.each do |todo| %>
                    <li>
                        <a href="show/<%= todo.id %>" class="showLink">
                        <input id="checkBox" type="checkbox">
                        <%= todo.description %>
                        <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
                        </a>
                    </li>
                <% end %>
            </ul>  
        </div>