<h1>Hello World!</h1>

        <div>
            <h2><span class="title">Workshop</span> <span>To-do</span> <span class="title">List</span></h2>
            <ul>
                <a href="show/1"><li><input id="checkBox" type="checkbox"> 
                Buy laundry detergent, deoderant, toothpaste
                <span class="pomodoro-estimate">2 Pomodoros</span>
                </li></a>
                
                <a href="show/2"><li><input id="checkBox" type="checkbox"> 
                Do some laundry
                <span class="pomodoro-estimate">2 Pomodoros</span>
                </li></a>
                
                <a href="show/3"><li><input id="checkBox" type="checkbox"> 
                Wash dishes
                <span class="pomodoro-estimate">2 Pomodoros</span>
                </li></a>
                
                <a href="show/4"><li><input id="checkBox" type="checkbox"> tou
                Find 10 more jobs to apply to
                <span class="pomodoro-estimate">3 Pomodoros</span>
                </li></a>
                
                <a href="show/5"><li><input id="checkBox" type="checkbox"> 
                Finish current coding challenge
                <span class="pomodoro-estimate">2 Pomodoros</span>
                </li></a>
                
                <a href="show/6"><li><input id="checkBox" type="checkbox"> 
                Talk to a boy
                <span class="pomodoro-estimate">1 Pomodoro</span>
                </li></a>
                
                <a href="show/7"><li><input id="checkBox" type="checkBox"> 
                Relax
                <span class="pomodoro-estimate">2 Pomodoros</span>
                </li></a>
            </ul>  
        </div>
        <div>
            <input type="text" placeholder="Enter to-do"/>
            <input type="number" placeholder="Duration"/>
            <input id="new-todo-button" type="submit"/> 
        </div>
        